*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.2rem;
}

.calculator{
    border: 12px;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); 
}
.calculator-sonuc{
    width: 100%;
    font-size: 3.5rem;
    height: 55px;
    background-color: darkslategrey;
    color: aliceblue;
    text-align: left;
    padding-left: 10px;
}

button {
    height: 55px;
    background-color: #FA7268;
    font-size: 3.5rem;
    color: black;
}
button:hover {
    background-color: lemonchiffon;
}

.calculator-buton {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-column: 2 span 4;

}

.operator{
    background-color: #3F9AA5;
   grid-column-start: 4; 
   grid-column-end: 6;
    
}


.esittir{
    
    background-color: #03585D;
    color: #fff;

}

.temizle{
    background-color: #D93E3A;
    grid-column-start: 3;
    grid-column-end: 6;
}